<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script>
	    $(document).ready(function() { 
            var socket = io();
            // img's
            var imgNum = 0;
            var boolean = false;
            // Grab elements, create settings, etc.
            var canvas = document.getElementById('canvas');
            var context = canvas.getContext('2d');
            var video = document.getElementById('video');

            // // Trigger photo take
            // document.getElementById("snap").addEventListener("click", function() {
            //   context.drawImage(video, 0, 0, 640, 480);
            // });

            // take photo every 2 seconds
            function click(){
              context.drawImage(video, 0, 0, 455, 256);
            }

            // Get access to the camera!
            if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                // Not adding `{ audio: true }` since we only want video now
                navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
                    video.src = window.URL.createObjectURL(stream);
                    video.play();
                });
            }

            setInterval(function () {
              console.log(boolean);
              if boolean {
                var data = canvas.toDataURL("image/jpg").replace(/^data:image\/\w+;base64,/, '');
                socket.emit('data', {"str": $("#steeringVal").val(),"num": imgNum, "img": data});
                boolean == false;
              }
            }, 25);

            $("#rec").click(function(){
              if boolean {
                boolean = false;
              }
              boolean = true;
            });

	    });  
  	</script>
  </head>
  <body>
    <button id="rec">START RECORDING</button>
    <input type="range" id="steeringVal" value="90.0" min="0.0" max="180.0">
    <video id="video" width="455" height="256" autoplay></video>
    <button id="snap">Snap Photo</button>
    <canvas id="canvas" width="455" height="256"></canvas>
    <button id="predict">PREDICT ANGLE</button>
  </body>
</html>
